* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
}
img {
   max-width: 100%;
}

body {
   font-family: 'Fira Sans', sans-serif;
   font-size: 16px;
   color: #111238;
   margin: 0;
}

a {
   text-decoration: none;
}

.header {
   background: #f2f3f6;
}

.menu {
   list-style: none;
   padding: 0;
   margin: 0;
}

.menu-item:not(:last-child) {
   margin-right: 2rem;
}

.menu-link {
   color: #111238;
   line-height: 1.9rem;
   transition: color 0.2s;
}

.menu-link:hover {
   color: #1a75e8;
}

.button-link {
   color: inherit;
   padding: 1rem;
   margin-right: 3rem;
   line-height: 1.9rem;
}

.button-primary {
   display: inline-block;
   background: #1a75e8;
   border-radius: 0.5rem;
   padding: 1.5rem 3rem;
   color: white;
   line-height: 1.9rem;
   border: none;
   font-size: 1.6rem;
}

.hero-title {
   font-weight: 900;
   font-size: 4.4rem;
   line-height: 5.3rem;
   margin-top: 4.3rem;
}

.hero-text {
   font-size: 1.8rem;
   line-height: 2.5rem;
   margin-bottom: 3rem;
}
.input-group {
   background: #ffffff;
   border: 1px solid rgba(209, 209, 209, 0.1);
   box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
   border-radius: 0.5px;
   padding: 1rem;
   margin-bottom: 2.5rem;
}
.input {
   background: white;
   border: none;
   flex-grow: 1;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #b2b2b2;
   padding-left: 1.5rem;
   margin-right: 1rem;
}
.input:focus {
   outline: 2px solid #0f2746;
   border-radius: 0.5rem;
}

.search-img {
   vertical-align: middle;
}
.button-text {
   vertical-align: middle;
   margin-right: 1rem;
}
.tags-group {
   padding-left: 1.5rem;
   color: #b2b2b2;
   font-size: 1.4rem;
   line-height: 1.7rem;
}
.text-label1 {
   margin-right: 1.5rem;
}
.tag {
   color: #b2b2b2;
   font-size: 1.4rem;
   line-height: 1.7rem;
   padding: 0.5rem 1rem;
   border: 1px solid #b2b2b2;
   border-radius: 5px;
   margin-right: 1rem;
}
.tag:last-child {
   margin-right: 0;
}

.section {
   padding-top: 7rem;
   padding-bottom: 8rem;
}
.section-title {
   margin-bottom: 4rem;
   margin-top: 0;
}
.card {
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #111238;
   background: #f2f3f6;
   border-radius: 1rem;
   padding: 3.5rem 5.5rem;
   transition: background 0.6s linear;
}

.card:hover {
   color: white;
   background: #1a75e8;
}

.card:hover .icon {
   fill: white;
}

.icon {
   fill: #111238;
   margin-bottom: 1.5rem;
   transition: background 0.5s linear;
}

.offer {
   border: 1px solid #c5c9d4;
   border-radius: 1rem;
   padding: 3rem;
   margin-bottom: 2rem;
}

.offer-last {
   margin: 0;
   margin-bottom: 4rem;
}

.offer-img {
   width: 10rem;
   height: 10rem;
   border: 1px solid #f2f3f6;
   border-radius: 50%;
   background: url(../img/logo-company.png) no-repeat center center / contain;
   margin-right: 2rem;
}

.offer-title {
   margin-top: 0;
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #111238;
   margin-bottom: 1rem;
}
.offer-location {
   font-size: 1.4rem;
   line-height: 1.7rem;
   color: #111238;
   opacity: 0.8;
}
.salary {
   margin-left: 4.6rem;
   margin-right: 6rem;
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #ffffff;
   background: #1a75e8;
   border-radius: 5px;
   padding: 1rem 2.5rem;
}

.more {
   font-size: 1.4rem;
   line-height: 1.7rem;
   color: #1a75e8;
   margin-left: auto;
   margin-right: 2.5rem;
}

.offers-button {
   display: block;
   width: 193px;
   height: 49px;
   text-align: center;
   margin: 0 auto;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #ffffff;
   background: #1a75e8;
   border-radius: 5px;
   padding: 1.5rem 3rem;
}

.subscribe {
   background: #f2f3f6;
   padding: 9rem;
}

.subscribe-form {
   max-width: 460px;
   margin: 0 auto;
   text-align: center;
}
.form-title {
   font-weight: 900;
   font-size: 3.6rem;
   line-height: 4.3rem;
   margin-bottom: 2rem;
}
.form-text {
   font-size: 1.8rem;
   line-height: 140%;
   margin-bottom: 4rem;
}

.footer {
   padding-top: 7rem;
   padding-bottom: 10rem;
}
.footer-logo {
   margin-bottom: 2rem;
}
.footer-text {
   margin-top: 0;
   font-size: 1.2rem;
   line-height: 140%;
   color: #b2b2b2;
   margin-bottom: 1rem;
}
.copy-right {
   font-size: 1.2rem;
   line-height: 140%;
   color: #b2b2b2;
}

.footer-title {
   margin-top: 0;
   font-weight: bold;
   font-size: 1.6rem;
   line-height: 1.9rem;
   margin-bottom: 1.5rem;
}
.footer-list {
   padding: 0;
}
.footer-list-item {
   list-style: none;
   margin-bottom: 1rem;
}

.footer-list-item:last-child {
   margin-bottom: 0;
}
.footer-list-link {
   display: block;
   font-size: 1.6rem;
   line-height: 1.9rem;
   color: #111238;
}

@media (max-width: 1200px) {
   .salary {
      margin-left: 20px;
      margin-right: 20px;
   }
   .more {
      margin-right: 0;
   }
}

@media (max-width: 992px) {
   .more {
      margin: 0 auto;
   }
   .text-label {
      display: block;
      margin-bottom: 2rem;
      text-align: center;
      margin-right: 0;
   }
   .tags-group {
      padding-left: 0;
   }
   .offer-text {
      text-align: center;
   }
   .offer-img {
      margin-right: 0;
   }
   .navbar {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: white;
      transform: translateX(-100%);
      transition: transform 0.3s;
   }

   .is-open {
      transform: translateX(0%);
   }

   .menu-item:not(:last-child) {
      margin-right: 0;
   }
   .button-link {
      margin-right: 0;
   }
   .close-btn {
      position: fixed;
      top: 0;
      right: 10px;
      text-align: right;
      text-decoration: none;
      font-size: 24px;
      padding: 20px;
   }
   .logo-link {
      align-items: center;
   }
}

@media (max-width: 576px) {
   .footer {
      text-align: center;
   }
   .card {
      max-width: 200px;
      margin: 0 auto;
   }
   .section-title {
      text-align: center;
   }
   .hero-title {
      font-size: 24px;
      line-height: 140%;
   }
   .hero {
      text-align: center;
   }
   .tags-group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
   }

   .text-label {
      margin-bottom: 0;
      margin-right: 10px;
   }

   .offer {
      flex-direction: column;
      align-items: center;
   }

   .form-title {
      font-size: 2rem;
      line-height: 140%;
   }
}
